@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu sur la page des blagues à Flavio</h1>
    <p> Ceci est une page ouverte à tous ou vous pouvez consulter et gérer vos propres blagues en français.</p>
</div>
